h1{
    color:rgb(254,0,0)
}
.Homework{
    color: white;
    background-color: rgb(0,0,254);
    width: 100px;
    height: 70px;
    margin-bottom: 80px;
}
.red{
    color: red;
}
h2{
    color: #FFFFFF;
    background: #008001;
}
.what_i_will_can{
    padding: 40px
}
li{
    border: 1px solid black;
}
.I_can_did_form{
    padding-left: 140px;
}